table{
    width: 100%;
    background: var(--secondDark);
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

table thead tr{
    font-size: 1.5rem;
}

table tbody{
    font-size: 1.35rem;
    text-align: center;
}

.map{
    height: 500px;
    border-radius: 2rem;
}

#node{
    color: var(--secondDark);
}